.c-features__container {
    margin-inline: auto;
    max-inline-size: var(--container-width);
    padding-block: 2rem;
    padding-inline: 1.5rem;

    @media (width >= 640px) {
        padding-block: clamp(6rem, 5.396vi + 4.604rem, 10rem);
    }
}

.c-features__header {
    margin-block-end: 2rem;

    @media (width >= 1024px) {
        margin-block-end: 4rem;
    }
}

.c-features__content {
    display: grid;
    gap: 3rem;

    @media (width >= 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-block-end: 0;
    }

    @media (width >= 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
