.newsletter-dialog {
    max-inline-size: min(90vi, 420px);
    max-block-size: min(80vb, 100%);
    padding: 2rem;
    overflow: hidden;
}

.newsletter-dialog__close {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 10px;
    block-size: 30px;
    aspect-ratio: 1 / 1;
    padding: 8px;
    color: var(--font-color);
    cursor: pointer;
    background-color: color-mix(in srgb, var(--bg-color) 90%, black);
    border: 1px solid #333;
    border-radius: 10000000px;

    @media (prefers-color-scheme: dark) {
        background-color: color-mix(in srgb, var(--bg-color) 80%, white);
    }
}

.newsletter-dialog__close:hover {
    background-color: color-mix(in srgb, var(--bg-color) 90%, black);

    @media (prefers-color-scheme: dark) {
        background-color: color-mix(in srgb, var(--bg-color) 80%, white);
    }
}

[data-animate='fadeUp'] {
    opacity: 0;
    transform: translateY(40px);
}

[data-animate='fadeDown'] {
    opacity: 0;
    transform: translateY(-40px);
}
