.c-newsletter {
    background-color: var(--bg-color);
    color: var(--font-color);
    max-inline-size: 100vi;
    overflow: hidden;
}

.c-newsletter__wrapper {
    align-items: center;
    display: flex;
    gap: 4rem;
    margin-inline: auto;
    max-inline-size: var(--container-width);
    padding: 2rem 1.5rem;

    @media (width >= 640px) {
        padding-block: clamp(6rem, 5.396vi + 4.604rem, 10rem);
    }
}

.c-newsletter__inner {
    margin-inline: auto;
    max-inline-size: 56rem;

    @media (width >= 640px) {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

.c-newsletter__header {
    color: var(--font-color);
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1;
    margin-block-end: 1rem;

    @media (width >= 768px) {
        text-align: center;
    }

    @media (width >= 1024px) {
        font-size: 3rem;
    }
}
