.DS_Store
.idea
nbproject
/var/*
!/var/labels
/vendor
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
node_modules
/public
.php-cs-fixer.cache
!Resources/Public/Icons/*
.dumps
config/system/additional.php
.env
.ddev
.worktrees/
