services:
  php:
    #image: dunglas/frankenphp
    build: .
    restart: always
    expose:
      - 80
    volumes:
      #- ./:/app/
      - caddy_data:/data
      - media:/app/public/media
      - fileadmin:/app/public/fileadmin
      - typo3temp:/app/public/typo3temp
      - caddy_config:/config
    # comment the following line in production, it allows to have nice human-readable logs in dev
    #tty: true
    environment:
      - SERVICE_FQDN_PHP_80
      - JWT_SECRET=${SERVICE_BASE64_JWT_SECRET}
      - SERVER_NAME=${SERVICE_FQDN_PHP_80}

# Volumes needed for Caddy certificates and configuration
volumes:
  caddy_data:
  caddy_config:
  media:
  fileadmin:
  typo3temp: