providers = ["php"]

[variables]
NIXPACKS_PHP_ROOT_DIR = "/app/public"
NIXPACKS_PHP_FALLBACK_PATH = "/index.php"

# System-wide locale settings within Container
# These variables are stored in /etc/environment later
LANG = "en_US.UTF-8"
LANGUAGE = "en_US:de_DE"
LC_ALL = "en_US.UTF-8"
LOCALE_ARCHIVE = "/usr/lib/locale/locale-archive"

[phases.setup]
nixPkgs = ["...", "(lib.hiPrio phpPackages.composer)", "glibcLocales"]

aptPkgs = ["...", "locales", "imagemagick", "graphicsmagick"]

cmds = [
    "sed -i 's/# en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/' /etc/locale.gen",
    "sed -i 's/# de_DE.UTF-8 UTF-8/de_DE.UTF-8 UTF-8/' /etc/locale.gen",
    # Generate locales in Build-Stage
    "locale-gen",
    "localedef -i de_DE -f UTF-8 de_DE.UTF-8 || true",
    "localedef -i en_US -f UTF-8 en_US.UTF-8 || true",
]

[phases.install]
cmds = [
    "mkdir -p /var/log/nginx && mkdir -p /var/cache/nginx",
    "composer self-update",
    "composer install --no-dev --optimize-autoloader --no-scripts --ignore-platform-reqs",
    "pnpm self-update",
    "pnpm install --frozen-lockfile",
    "pnpm build",
]

[staticAssets]
"php-fpm.conf" = '''
[www]
listen = 127.0.0.1:9000
user = www-data
group = www-data
listen.owner = www-data
listen.group = www-data
pm = dynamic
pm.max_children = 50
pm.min_spare_servers = 4
pm.max_spare_servers = 32
pm.start_servers = 18
clear_env = no

php_admin_value[memory_limit] = 512M
php_admin_value[max_execution_time] = 240
php_admin_value[max_input_time] = 240
php_admin_value[max_input_vars] = 1500
php_admin_value[post_max_size] = 256M
php_admin_value[upload_max_filesize] = 256M
php_admin_value[pcre.jit] = 1
'''

[phases.build]
cmds = []
