"nginx.template.conf" = '''
user www-data www-data;
worker_processes 5;
daemon off;

worker_rlimit_nofile 8192;

events {
  worker_connections  1024;
}

http {
    include    $!{nginx}/conf/mime.types;
    index    index.html index.htm index.php;

    default_type application/octet-stream;
    log_format   main '$remote_addr - $remote_user [$time_local]  $status '
        '"$request" $body_bytes_sent "$http_referer" '
        '"$http_user_agent" "$http_x_forwarded_for"';
    access_log /var/log/nginx-access.log;
    error_log /var/log/nginx-error.log;
    sendfile     on;
    tcp_nopush   on;
    server_names_hash_bucket_size 128;

    server {
        listen ${PORT};
        listen [::]:${PORT};
        server_name localhost;

        $if(NIXPACKS_PHP_ROOT_DIR) (
            root ${NIXPACKS_PHP_ROOT_DIR};
        ) else (
            root /app;
        )

        add_header X-Content-Type-Options "nosniff";

        client_max_body_size 35M;
        index index.php;
        charset utf-8;

        location ~* \.(?:ico|css|js|gif|jpe?g|png|webp|svg|woff2?|ttf|eot|otf|mp4|webm|ogg|pdf)$ {
            expires 30d;
            add_header Cache-Control "public, max-age=2592000, immutable";
            access_log off;
        }

        $if(NIXPACKS_PHP_FALLBACK_PATH) (
            location / {
                try_files $uri $uri/ ${NIXPACKS_PHP_FALLBACK_PATH}?$query_string;
            }
        ) else (
          location / {
                try_files $uri $uri/ /index.php?$query_string;
           }
        )

        location = /favicon.ico { access_log off; log_not_found off; }
        location = /robots.txt  { access_log off; log_not_found off; }

        location ~ \.js\.gzip$ {
            add_header Content-Encoding gzip;
            gzip off;
            types { text/javascript gzip; }
        }

        location ~ \.css\.gzip$ {
            add_header Content-Encoding gzip;
            gzip off;
            types { text/css gzip; }
        }

        # TYPO3 - Rewrite versioned static resources
        if (!-e $request_filename) {
            rewrite ^/(.+)\.(\d+)\.(php|js|css|png|jpg|gif|gzip)$ /$1.$3 last;
        }

        # TYPO3 - Deny access to sensitive files and directories
        location ~* composer\.(?:json|lock)$       { deny all; }
        location ~* flexform[^.]*\.xml$            { deny all; }
        location ~* locallang[^.]*\.(?:xml|xlf)$   { deny all; }
        location ~* ext_conf_template\.txt$        { deny all; }
        location ~* ext_typoscript_.*\.txt$        { deny all; }
        location ~* \.(?:bak|co?nf|cfg|ya?ml|ts|typoscript|tsconfig|dist|fla|in[ci]|log|sh|sql|sqlite)$ {
            deny all;
        }
        location ~ _(?:recycler|temp)_/            { deny all; }
        location ~ fileadmin/(?:templates)/.*\.(?:txt|ts|typoscript)$ { deny all; }
        location ~ assets/(?:templates)/.*\.(?:txt|ts|typoscript)$ { deny all; }
        location ~ ^(?:vendor|typo3_src|typo3temp/var) { deny all; }
        location ~ (?:typo3conf/ext|typo3/sysext|typo3/ext)/[^/]+/(?:Configuration|Resources/Private|Tests?|docs?)/ {
            deny all;
        }

        # TYPO3 - Backend entry point
        location = /typo3 {
            rewrite ^ /typo3/;
        }

        location /typo3/ {
            absolute_redirect off;
            try_files $uri /index.php$is_args$args;
        }

        location ~ [^/]\.php(/|$) {
            fastcgi_split_path_info ^(.+?\.php)(/.*)$;
            if (!-f $document_root$fastcgi_script_name) {
                return 404;
            }

            fastcgi_buffer_size 32k;
            fastcgi_buffers 8 16k;
            fastcgi_connect_timeout 240s;
            fastcgi_read_timeout 240s;
            fastcgi_send_timeout 240s;

            fastcgi_pass 127.0.0.1:9000;
            fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
            include $!{nginx}/conf/fastcgi_params;
            include $!{nginx}/conf/fastcgi.conf;
        }

        location ~ /\.(?!well-known).* {
            deny all;
        }
    }
}
'''
