.c-header {
    color: var(--font-color);
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1;
    margin-block-end: 1rem;
}

.c-header--center {
    @media (width >= 768px) {
        text-align: center;
    }
}

.c-header--h1 {
    font-size: clamp(4.688rem, 3.8vi + 3.7rem, 7.5rem);
    line-height: clamp(6.25rem, 3.67vi + 5.9rem, 9rem);
}

.c-header--h2 {
    font-size: clamp(3.125rem, 2.53vi + 2.47rem, 5rem);
    line-height: clamp(4.688rem, 2.445vi + 4.055rem, 6.5rem);
}

.c-header--h3 {
    font-size: clamp(2.5rem, 2.025vi + 1.975rem, 4rem);
    line-height: clamp(3.75rem, 2.2vi + 3.3rem, 5.5rem);
}

.c-header--h4 {
    font-size: clamp(2rem, 1.62vi + 1.58rem, 3.25rem);
    line-height: clamp(3rem, 1.8vi + 2.625rem, 4.5rem);
}

.c-header--h5 {
    font-size: clamp(1.6rem, 1.3vi + 1.27rem, 2.5rem);
    line-height: clamp(2.4rem, 1.5vi + 2.1rem, 3.5rem);
}

.c-header--h6 {
    font-size: clamp(1.25rem, 1.01vi + 1rem, 2rem);
    line-height: clamp(1.875rem, 1.2vi + 1.7rem, 2.8rem);
}
