.c-event-item {
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color--layer-1);
    transition: background-color 0.2s ease-in-out;
}

.c-event-item:hover {
    background-color: var(--bg-color--layer-2);
}

.c-event-item__link {
    display: flex;
    color: inherit;
    text-decoration: none;
}

.c-event-item__image {
    inline-size: 100%;
    max-block-size: 300px;
    object-fit: cover;
    object-position: center;
}

.c-event-item__content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    line-height: 1.5;
}

.c-event-item__title {
    margin-block-end: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--font-color);
    letter-spacing: -0.025em;
}

.c-event-item__time {
    margin-block-end: 0.5rem;
    font-size: 1rem;
}

.c-event-item__list {
    max-inline-size: 28rem;
    padding-inline-start: 0;
    margin-inline-start: 0;
    font-size: 0.875rem;
    color: #6b7280;
    list-style-type: disc;

    @media (prefers-color-scheme: dark) {
        color: #9ca3af;
    }
}

.c-event-item__list-item {
    display: flex;
    align-items: center;
}

.c-event-item__icon {
    flex-shrink: 0;
    inline-size: 0.875rem;
    block-size: 0.875rem;
    margin-inline-end: 0.5rem;
    color: #6b7280;

    @media (prefers-color-scheme: dark) {
        color: #9ca3af;
    }
}
