.c-event-detail {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    overflow: hidden;
    background-color: var(--bg-color--light);
}

.c-event-detail__logo-container {
    display: none;
}

.c-event-detail__logo {
    overflow: hidden;
    background-color: var(--color--secondary);
    border-radius: 99999999px;
}

.c-event-detail__logo-img {
    display: block;
    inline-size: 100%;
    block-size: 100%;
}

.c-event-detail__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-inline-size: 600px;
    padding-block: 2rem;
    padding-inline: 1.5rem;
    margin: auto;
    margin-block: 2rem;
    margin-inline: 2rem;
    background-color: var(--bg-color--light-overlay);
}

.c-event-detail__title {
    margin-block-end: 20px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    color: var(--font-color);
}

.c-event-detail__title time {
    font-size: inherit;
    font-weight: normal;
}

.c-event-detail__message {
    margin-block-start: 32px;
    font-size: 0.875rem;
    color: var(--font-color);
    text-align: center;
    background-color: var(--bg-color);
}

.c-event-detail__details {
    margin-block-start: 32px;
    font-size: 0.875rem;
}

.c-event-detail__details h2 {
    margin-block-end: 10px;
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--font-color);
}

.c-event-detail__details p {
    margin: 0;
    color: #6b7280;
}

.c-event-detail__image-container {
    position: absolute;
    inset: -1rem;
    filter: blur(10px);
}

.c-event-detail__image {
    position: relative;
    inline-size: 100%;
    block-size: 100%;
}

@media (width >= 1024px) {
    .c-event-detail__image-container {
        position: relative;
        inset: auto;
        block-size: 100%;
        filter: blur(0);
    }

    .c-event-detail {
        grid-template-columns: repeat(2, 1fr);
        min-block-size: 100vb;
    }

    .c-event-detail__logo-container {
        position: absolute;
        inset: auto;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        z-index: 10;
        display: block;
        inline-size: 8rem;
        block-size: 8rem;
        pointer-events: none;
        transform: translate(-50%, -50%);
    }

    .c-event-detail__content {
        block-size: auto;
        padding-block: 20px;
        padding-inline: 20px 100px;
        margin: 0 auto;
        background: transparent;
    }

    .c-event-detail__title {
        font-size: 3rem;
    }

    .c-event-detail__details {
        text-align: start;
    }

    .c-event-detail__details h2 {
        font-size: 1.25rem;
    }
}

.c-event-detail__message-item {
    padding: 1rem;
    margin-block-end: 1rem;
    font-size: 0.875rem;
    color: #1f9d55;
    background-color: #d1fae5;
}

.c-event-detail__image-img {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.c-event-address {
    max-inline-size: 28rem;
    padding-inline-start: 0;
    list-style-type: none;
}

.c-event-address__item {
    display: flex;
    align-items: center;
    margin-block-end: 0.25rem;
}

.c-event-address__icon {
    flex-shrink: 0;
    inline-size: 0.875rem;
    block-size: 0.875rem;
    margin-inline-end: 0.5rem;
    color: #6b7280;

    @media (prefers-color-scheme: dark) {
        color: #9ca3af;
    }
}

.c-event-registration {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-end: 2rem;
}

.c-event-registration__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @media (width >= 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

.c-event-url__list {
    max-inline-size: 28rem;
    margin-block-end: 0.25rem;
    color: #6b7280;
    list-style-position: inside;
}

.c-event-url__item {
    display: flex;
    align-items: center;
}

.c-event-url__icon {
    flex-shrink: 0;
    inline-size: 0.875rem;
    block-size: 0.875rem;
    margin-inline-end: 0.5rem;
    color: #6b7280;
}

.c-event-url__link {
    color: #007bff;
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    .c-event-url__list {
        color: #9ca3af;
    }

    .c-event-url__icon {
        color: #9ca3af;
    }
}

.c-event-url__error-container {
    margin-block-start: 0.25rem;
}

.c-event-url__error-message {
    font-size: 0.875rem;
    color: #e53e3e;
}

@media (prefers-color-scheme: dark) {
    .c-event-url__error-message {
        color: #fc8181;
    }
}

.c-event-detail__map,
.c-event-detail__map-inner {
    inline-size: 100%;
    max-inline-size: 100vi;
    min-block-size: 300px;
    aspect-ratio: 16 / 4;
}
