@import './utils/variables.css';

/* Base */
@import './utils/reset.css';

/* Layout utilities */
@import './utils/layout.css';

/* Effect utilities */
@import './utils/buttons.css';

/* Component */
@import './components/events.css';
@import './components/footer.css';
@import './components/navigation.css';

/* Utility */
@import './utils/browser-specific.css';
@import './utils/accessibility.css';
