.c-about {
    background-color: var(--section-bg-alt);
    color: var(--color-text);
    max-inline-size: 100vi;
    overflow: hidden;

    @media (width >= 768px) {
        display: flex;
    }
}

.c-about__content {
    display: flex;
    flex: 1;
    inline-size: 100%;

    @media (width >= 768px) {
        inline-size: 50%;
    }
}

.c-about__text-container {
    margin: auto;
    max-inline-size: 42rem;
    padding: 5rem 1.5rem;
}

.c-about__header {
    color: var(--color-text);
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1;
    margin-block-end: 1rem;

    @media (width >= 1024px) {
        font-size: 3rem;
    }
}

.c-about__subheader {
    color: var(--color-primary);
    display: block;
}

.c-about__body {
    color: var(--color-text);
    max-inline-size: none;

    @media (width >= 1024px) {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

.c-about__link-container {
    margin-block-start: 1rem;
}

.c-about__image {
    block-size: 100%;
    display: block;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
}
