.o-event-list {
    margin: 0 auto;
    max-inline-size: var(--container-width);
    padding: 2rem 1.5rem;

    @media (width >= 640px) {
        padding-block: clamp(6rem, 5.396vi + 4.604rem, 10rem);
    }
}

.o-event-list__items {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
}
