services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
  MensCircle\Sitepackage\:
    resource: '../Classes/*'
  MensCircle\Sitepackage\Command\SyncNewsletterSubscriptionCommand:
    tags:
      -
        name: console.command
        command: 'sitepackage:sync-newsletter-subscription'
        description: 'Sync all fe users with newsletter subscription'
        schedulable: true
  messenger.transport.default:
    factory: [ '@TYPO3\CMS\Core\Messenger\DoctrineTransportFactory', 'createTransport' ]
    class: 'Symfony\Component\Messenger\Bridge\Doctrine\Transport\DoctrineTransport'
    arguments:
      $options: [ ]

  # Sentry Service
  MensCircle\Sitepackage\Service\SentryService:
    public: true

  # Sentry Event Listeners
  MensCircle\Sitepackage\EventListener\SentryInitializationListener:
    tags:
      - name: event.listener
        identifier: 'sentry-initialization'
        event: TYPO3\CMS\Core\Core\Event\BootCompletedEvent

  MensCircle\Sitepackage\EventListener\SentryErrorHandler:
    public: true

