.c-newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-inline-size: 35rem;
    margin-inline: auto;
}

.c-newsletter-form__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @media (width >= 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

.c-newsletter-form__label {
    display: block;
    margin-block-end: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #1c1917;

    @media (prefers-color-scheme: dark) {
        color: #d1d5db;
    }
}

.c-newsletter-form__input {
    box-sizing: border-box;
    display: block;
    inline-size: 100%;
    padding: 0.625rem;
    font-size: 0.875rem;
    color: #1c1917;
    background-color: #fafaf9;
    border: 1px solid #d6d3d1;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);

    @media (prefers-color-scheme: dark) {
        color: #f9fafb;
        background-color: #292524;
        border-color: #57534e;
        box-shadow: 0 1px 2px rgb(255 255 255 / 5%);
    }
}

.c-newsletter-form__input:focus {
    max-inline-size: 320px;
    border-color: var(--color--primary);

    @media (width >= 1024px) {
        max-inline-size: 100%;
    }
}

.c-newsletter-form__error-container {
    margin-block-start: 0.25rem;
}

.c-newsletter-form__error-message {
    font-size: 0.875rem;
    color: #e53e3e;
}

@media (prefers-color-scheme: dark) {
    .c-newsletter-form__error-message {
        color: #fc8181;
    }
}
