.animate-on-scroll {
    opacity: 0;
    transform: translateY(100px);
    transition:
        opacity 0.4s ease-out,
        transform 0.4s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}
