:host,
html {
    font-family:
        'Jost Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    font-variation-settings: normal;
    font-feature-settings: normal;
    line-height: 1.5;
    color: var(--font-color);
    tab-size: 4;
    background-color: var(--bg-color--light);
}

body {
    margin: 0;
}

* {
    text-wrap: balance;
}

a {
    color: var(--color--primary);
}

@media (prefers-color-scheme: dark) {
    .leaflet-layer {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
}

h2,
h3,
h4,
h5,
h6 {
    span {
        color: var(--color--primary);
    }
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-block-start: 0;
}

p:last-child {
    margin-block-end: 0;
}

ul:not([class]) {
    max-inline-size: 600px;

    li:not([class]) {
        margin-block-end: 1rem;
    }
}

dialog::backdrop {
    backdrop-filter: blur(10px);
    transition:
        display 0.3s allow-discrete,
        overlay 0.3s allow-discrete,
        background-color 0.3s;
}

dialog {
    position: fixed;
    inset: 0;
    padding: 0;
    margin: auto;
    color: var(--font-color);
    background-color: var(--bg-color);
    border: 0 none;
    opacity: 0;
    transform: scaleY(0);
    transition: backdrop-filter 0.5s ease;
}

dialog[open] {
    opacity: 1;
    transform: scaleY(1);
}

@media (width <= 768px) {
    dialog[modal-mode='mega'] {
        margin-block-end: 0;
    }
}

dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}

@starting-style {
    dialog[open] {
        opacity: 0;
        transform: scaleY(0);
    }
}
