.c-button {
    background-color: var(--color--primary);
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    transition:
        background-color 0.3s,
        ring 0.3s;
}

.c-button--large {
    padding: 0.875rem 1.5rem;
}

.c-button:hover, .c-button:focus {
    background-color: color-mix(in srgb, var(--color--primary) 40%, black);
}
