.o-footer {
    padding: 1rem;
    color: #fff;
    background-color: var(--color--secondary);
}

@media (width >= 768px) {
    .o-footer {
        padding: 2rem;
    }
}

@media (width >= 1024px) {
    .o-footer {
        padding: 2.5rem;
    }
}

.o-footer__container {
    max-inline-size: 1280px;
    margin: 0 auto;
    text-align: center;
}

.o-footer__text {
    margin: 1.5rem 0;
}

.o-footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-block-end: 1.5rem;
    color: #fff;
    text-transform: uppercase;
}

.o-footer__nav-item {
    color: #fff;
    text-decoration: none;
}

.o-footer__copyright {
    font-size: 0.875rem;
    text-align: center;
}
