input,
textarea {
    max-inline-size: 100%;
}

.form {
    margin-inline: auto;
    max-inline-size: 28rem;
}

.form__control {
    --padding: 0.8rem;

    background-color: var(--bg-color--light);
    border: 1px solid rgb(0 0 0 / 30%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    color: var(--font-color);
    display: block;
    font-size: 0.9rem;
    inline-size: calc(100% - (var(--padding) * 2));
    padding: var(--padding);
}

.form__control:focus {
    border-color: var(--color--primary);
}

.form__group {
    display: block;
    margin-block-end: 1rem;
}

.form__label {
    color: var(--font-color);
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    margin-block-end: 0.5rem;
}

.form__error-text {
    color: #e3342f;
    font-size: 0.875rem;
}

.form__description {
    color: #6b7280;
    font-size: 0.875rem;
}

@media (prefers-color-scheme: dark) {
    .form__control {
        border: 1px solid rgb(255 255 255 / 30%);
        box-shadow: 0 1px 2px rgb(255 255 255 / 5%);
    }

    .form__control:focus {
        color: #9ca3af;
    }

    .form__label {
        color: #fff;
    }

    .form__description {
        color: #d1d5db;
    }
}
