.o-header {
    inset-block-start: 0;
    z-index: 20;
    inline-size: 100%;
    block-size: 8rem;
}

.o-header--absolute {
    position: absolute;
}

@media (width >= 768px) {
    .o-header {
        block-size: 5rem;
    }
}

.o-header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-inline-size: 1280px;
    block-size: 5rem;
    padding: 0.5rem;
    margin: 0 auto;
}

.o-header__container--dark {
    color: #fff;
}

.o-header__container--light {
    color: var(--font-color);
}

@media (width >= 768px) {
    .o-header__container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.o-header__logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
}

@media (width >= 768px) {
    .o-header__logo-link {
        flex-direction: row;
    }
}

.o-header__logo {
    inline-size: auto;
    block-size: 4rem;
}

.o-header__logo--dark-hidden {
    display: block;
}

.o-header__logo--dark-visible {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .o-header__logo--dark-hidden {
        display: none;
    }

    .o-header__logo--dark-visible {
        display: block;
    }
}

.o-header__title {
    margin-inline-start: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: inherit;
}

.o-header__nav {
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.o-header__nav a {
    display: block;
    color: inherit;
    text-decoration: none;
}
