.page {
    overflow: hidden auto;
    font-size: 1rem;
    color: var(--font-color);
}

@media (width >= 1024px) {
    .page {
        font-size: 1.125rem;
    }
}

.max-w-none {
    max-inline-size: none;
}
