:root {
    --font-color: #292524;
    --font-color--light: #fff;
    --color--primary: #a96627;
    --color--secondary: #004c45;
    --bg-color: #f5f5f4;
    --bg-color--light: #fff;
    --border-color: rgb(0 0 0 / 10%);
    --bg-color--layer-1: rgb(0 0 0 / 5%);
    --bg-color--layer-2: rgb(0 0 0 / 10%);
    --font-header:
        'Jost Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-accent: 'Playfair Display Variable', ui-serif, serif;
    --container-width: 1600px;
    --container-width--wide: 2500px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color--light: #292524;
        --font-color: #f5f5f4;
        --bg-color: #1c1917;
        --bg-color--light: #292524;
        --border-color: rgb(255 255 255 / 10%);
        --bg-color--layer-1: rgb(255 255 255 / 5%);
        --bg-color--layer-2: rgb(255 255 255 / 10%);
    }
}
