:root {
    --font-color: #292524;
    --font-color--light: #fff;
    --color--primary: #a96627;
    --color--secondary: #004c45;
    --bg-color: #f5f5f4;
    --bg-color--light: #fff;
    --bg-color--light-overlay: oklch(1 0 89.876 / 0.8);
    --border-color: oklch(0 0 0 / 0.1);
    --bg-color--layer-1: oklch(0 0 0 / 0.05);
    --bg-color--layer-2: oklch(0 0 0 / 0.1);
    --font-header: 'Jost Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-accent: 'Playfair Display Variable', ui-serif, serif;
    --container-width: 1440px;
    --container-width--small: 960px;
    --container-width--wide: 2500px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color--light: #292524;
        --font-color: #f5f5f4;
        --bg-color: #1c1917;
        --bg-color--light: #292524;
        --bg-color--light-overlay: oklch(0 0 0 / 0.8);
        --border-color: oklch(1 0 89.876 / 0.1);
        --bg-color--layer-1: oklch(1 0 89.876 / 0.05);
        --bg-color--layer-2: oklch(1 0 89.876 / 0.1);
    }
}
