.c-faq {
    overflow: hidden;
    color: var(--font-color);
    background-color: var(--bg-color--light);
}

.c-faq__container {
    max-inline-size: var(--container-width);
    padding: 2rem 1.5rem;
    margin: 0 auto;

    @media (width >= 640px) {
        padding-block: clamp(6rem, 5.396vi + 4.604rem, 10rem);
    }
}

.c-faq__title {
    margin-block-end: 1rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--font-color);
    text-align: center;
}

.c-faq__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    padding-block-start: 2rem;
    text-align: start;
    border-block-start: 1px solid #e5e7eb;

    @media (width >= 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (prefers-color-scheme: dark) {
        border-color: #374151;
    }
}

.c-faq__question-title {
    display: flex;
    align-items: center;
    margin-block-end: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--font-color);
}

.c-faq__icon {
    flex-shrink: 0;
    inline-size: 1.25rem;
    block-size: 1.25rem;
    margin-inline-end: 0.5rem;
    color: #6b7280;

    @media (prefers-color-scheme: dark) {
        color: #9ca3af;
    }
}

.c-faq__answer {
    display: block;
}

.c-faq__text {
    color: #6b7280;

    @media (prefers-color-scheme: dark) {
        color: #9ca3af;
    }
}
