.c-about {
    max-inline-size: 100vi;
    overflow: hidden;
    color: var(--font-color);
    background-color: var(--bg-color--light);

    @media (width >= 768px) {
        display: flex;
    }
}

.c-about__content {
    display: flex;
    flex: 1;
    inline-size: 100%;

    @media (width >= 768px) {
        inline-size: 50%;
    }
}

.c-about__text-container {
    max-inline-size: 42rem;
    padding: 5rem 1.5rem;
    margin: auto;
}

.c-about__header {
    margin-block-end: 1rem;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1;
    color: var(--font-color);
    letter-spacing: -0.025em;

    @media (width >= 1024px) {
        font-size: 3rem;
    }
}

.c-about__subheader {
    display: block;
    color: var(--color--primary);
}

.c-about__body {
    max-inline-size: none;
    color: var(--font-color);

    @media (width >= 1024px) {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

.c-about__link-container {
    margin-block-start: 1rem;
}

.c-about__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}
