.c-hero {
    position: relative;
    display: flex;
    inline-size: 100%;
    max-inline-size: 100vi;
    block-size: 100%;
    min-block-size: 100vb;
}

.c-hero__content {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: end;
    inline-size: 100%;
    max-inline-size: var(--container-width);
    padding-block: 10rem 6rem;
    padding-inline: 1.5rem;
    margin-inline: auto;
}

.c-hero__image {
    position: absolute;
    inset: 0;
    inline-size: 100%;
}

.c-hero__image::after {
    position: absolute;
    inset: 0;
    content: '';
    background-color: rgb(0 0 0 / 40%);
}

.c-hero__image-inner {
    position: absolute;
    inset: 0;
    inline-size: 100%;
}

.c-hero__image-element {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}

.c-hero__text {
    inline-size: 100%;
    padding-block-start: 3rem;
    margin-inline: auto;
}

.c-hero__header {
    margin-block-end: 0;
    font-size: clamp(2.5rem, 5.059vw + 1.191rem, 6.25rem);
    line-height: clamp(3.75rem, 5.902vw + 2.223rem, 8.125rem);
    font-weight: 800;
    color: #fff;
    text-align: center;
    hyphens: auto;
}

.c-hero__body {
    margin-inline: auto;
    max-inline-size: 48rem;
    margin-block: 2rem 3rem;
    font-size: clamp(1.125rem, 0.506vi + 0.994rem, 1.5rem);
    line-height: clamp(1.575rem, 0.506vi + 1.444rem, 1.95rem);
    color: #fff;
    text-align: center;
}
