.c-container__content {
    max-inline-size: 1440px;
    padding-block: 2rem;
    padding-inline: 1.5rem;
    margin-inline: auto;

    @media (width >= 640px) {
        padding-block: clamp(6rem, 5.396vi + 4.604rem, 10rem);
    }

    @media (width >= 1024px) {
        padding-inline: 1.5rem;
    }
}

.c-container__content--space-y-8 > * + * {
    margin-block-start: 2rem;
}
