rootPageId: 1
base: /
languages:
  - title: English
    enabled: true
    languageId: 0
    base: /
    locale: en_US.UTF-8
    navigationTitle: EN
    flag: en-us-gb
    direction: ltr
settings:
  menscircle/default: []
errorHandling:
  - errorCode: 404
    errorHandler: Page
    errorContentSource: t3://page?uid=404
  - errorCode: 0
    errorHandler: Page
    errorContentSource: t3://page?uid=500
