rootPageId: 1
base: /
languages:
  - title: Deutsch
    enabled: true
    languageId: 0
    base: /
    locale: de_DE.UTF-8
    navigationTitle: DE
    flag: de
    direction: ltr
settings:
  menscircle/default: []
errorHandling:
  - errorCode: 404
    errorHandler: Fluid
    errorFluidTemplate: 'EXT:sitepackage/Resources/Private/Templates/Error/404.html'
    errorContentSource: ''
  - errorCode: 500
    errorHandler: Fluid
    errorFluidTemplate: 'EXT:sitepackage/Resources/Private/Templates/Error/500.html'
    errorContentSource: ''
