inheritDefault: false
mutations:
  - mode: set
    directive: 'default-src'
    sources:
      - "'self'"
      # DDEV Vite server

  - mode: extend
    directive: 'img-src'
    sources:
      - 'data:'

  - mode: extend
    directive: 'font-src'
    sources:
      - 'data:'

  - mode: extend
    directive: 'script-src'
    sources:
      - "'nonce-proxy'"

  - mode: extend
    directive: 'style-src'
    sources:
      - "'unsafe-inline'"

  - mode: set
    directive: 'worker-src'
    sources:
      - 'blob:'
