inheritDefault: false
mutations:
  - mode: set
    directive: 'default-src'
    sources:
      - "'self'"
      - https://*.ddev.site:5173/
      - https://*.ddev.site:5273/
      - wss://*.ddev.site:5173/
      - wss://*.ddev.site:5273/

  - mode: extend
    directive: 'img-src'
    sources:
      - 'data:'
      - 'blob:'
      - "'self'"
      - 'https://*.basemaps.cartocdn.com'
      - 'https://a.basemaps.cartocdn.com'
      - 'https://b.basemaps.cartocdn.com'
      - '*.mens-circle.de'

  - mode: extend
    directive: 'font-src'
    sources:
      - 'data:'

  - mode: extend
    directive: 'script-src'
    sources:
      - "'unsafe-inline'"
      - "'unsafe-eval'"
      - 'https://tracking.letsbenow.de'
      - 'https://bug.letsbenow.de'
      - 'https://static.cloudflareinsights.com'
      - 'https://cdnjs.cloudflare.com'
      - "'report-sample'"

  - mode: extend
    directive: 'connect-src'
    sources:
      - "'unsafe-inline'"
      - "'unsafe-eval'"
      - 'https://tracking.letsbenow.de'
      - 'https://bug.letsbenow.de'
      - '*.o4508569353977856.ingest.de.sentry.io'

  - mode: extend
    directive: 'style-src'
    sources:
      - "'unsafe-inline'"

  - mode: set
    directive: 'worker-src'
    sources:
      - 'blob:'
